*::placeholder,
#recipes,
body > header {
	user-select : none;
}

html, body {
	height   : 100vh;
	overflow : hidden;
}
body {
	display   : flex;
	flex-flow : column nowrap;
}

.search-dropdown {

}
.search-dropdown > .input-group {

}

#filters {
	display         : flex;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	align-items     : stretch;
}

main {
	flex-grow : 1;
	display   : flex;
	height    : 85vh;
	flex-flow : column nowrap;
	overflow  : hidden;
}

.no-recipes {
	display         : flex;
	flex-flow       : column nowrap;
	justify-content : center;
	align-items     : center;

	font-size       : 2em;
	align-self: center;
	width: 100% !important;
}

pre {
	white-space : break-spaces;
}

.form-control:focus,
button:focus {
	box-shadow : none !important;
	outline    : none !important;
}

#tags > .row > * {
	flex-grow : 1;
	width     : auto;
}

.searchbox > .input-group {
	background-color : inherit;
	color            : inherit;
}
.searchbox > .input-group > .form-control {
	border           : none;
	background-color : inherit;
	color            : var(--bs-white);
}
.searchbox > .input-group > .form-control::placeholder {
	color : rgba(255, 255, 255, .5);
}
.searchbox .dropdown-menu {
	max-height              : calc(calc(10 * 30px) + 2.5em);
	flex-flow               : column wrap;
	flex-wrap               : wrap;
	/*inset      : 0 auto auto auto !important;*/
	inset                   : 0 0 auto 0 !important;
	transform               : translateY(2.85em) !important;
	overflow-x              : auto;
	border-top-left-radius  : 0;
	border-top-right-radius : 0;
	border                  : none;
}
.searchbox .dropdown-menu.show {
	display : flex;
}
.searchbox .dropdown-menu .dropdown-item {
	color  : var(--bs-white);
	cursor : pointer;
	width  : auto;
}
.searchbox .dropdown-menu .dropdown-item:is(:hover, .active) {
	color            : var(--bs-black);
	background-color : #E9ECEF;
}

body > header {
	height : 15vh;
}
#recipes {
	flex-grow  : 1;
	overflow-y : auto;
	display    : flex;
	flex-flow  : row wrap;
	column-gap : 1em;
}
#recipes > * {
	width : calc(33% - .7em);
}
#recipes .card {
	background-color : #E7E7E7;
	border           : none;
	height           : 500px;
	font-size        : .9em;
}

.bi.bi-clock.bi-clock-bold::before {
	font-weight : bold !important;
}
